.git
.husky
.next
.npmrc
.pnpm-store
.vscode
.env
.env.*
Dockerfile
docker-compose.yml
node_modules
package-lock.json
coverage
dist
build
logs
npm-debug.log*
pnpm-debug.log*
*.local
*.log
*.tmp
*.swp
*.swo
**/.DS_Store
prisma/dev.db*
